@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap&family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #250303;
    background-image: url(bg2.1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    background-color: #013f12;
    font-family: "Aladin";
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}


#ramen-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ramen-menu img {
    width: 190px;
    height: 150px;
    align-content: center;
}

#ramen-detail {
    width: 650px;
    height: 450px;
    background:linear-gradient( #ff0682, #11a8ff) padding-box, linear-gradient(to right   #ff0682, #11a8ff, #2529ff) border-box;
    position: relative;
    margin: auto;
    margin-top: 50px;
    border-radius: 100em;
    border: 5px solid transparent;
}    

#img-detail {
    width: 100%;
    height: 100%;
    background:linear-gradient( #ff0682, #11a8ff) padding-box, linear-gradient(to right   #ff0682, #11a8ff, #2529ff) border-box;
    border: 5px solid transparent;
}

#text-detail {
    background-color: rgba(240, 237, 199, 0.493);
    position: absolute;
    bottom: 0%;
    left: 0;
    margin-left: 5px;
    margin-bottom: 10px;
    color: #004103;
    
}

#stats {
    width: 400px;
    height: 150px;
    margin: auto;
    background-color: #11a8ff;
}    

#form {
    width: 400px;
    height: 450px;
    margin: auto;
    background-color: #4d484c77;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}    

.forms {
    font-family: "Poppins";
    display: block;
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 20px;
}
.forms input {
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 25px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff17;

}

#form button {
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
    background-color: #88168b;
    color: #ffffff;
    font-weight: bolder;
}